.func-block {
  margin-bottom: 48px;

  .content-block {
    margin-top: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.func-block--last {
  margin-bottom: 0;
}

.push-to-configuration {
  min-width: 200px;
  transform: translateY(-4px);
}

.apply-to-device {
  min-width: 150px;
  text-align: center;
}

.field {
  min-width: auto;
  margin-right: 20px;
}

.table-tip-left-td {
  width: 200px;
  text-align: right;
}

.radio-container {
  display: grid;
  grid-template-columns: 200px repeat(2, 1fr);
  grid-template-rows: 32px repeat(14, minmax(68px, max-content));
  border: 1px solid #cccccc;

  .header {
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #607896;
    padding-left: 16px;
  }

  .item {
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
  }

  .item-title {
    color: #1c307d;
    font-weight: bold;
  }

  .last-item {
    height: 68px;
    border-bottom: none;
  }

  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.field {
  min-width: auto;
  margin-right: 20px;
}

a.link {
  color: #22b7db;
  text-decoration: underline;
}

.not-full-page-content {
  display: none;

  // table-hover > tbody > tr:hover > * {
  //   background-color: none;
  // }

  @media screen and (max-width: 1100px) {
    display: block;
  }
}

.tr {
  background-color: none !important;
}

.td,
.field-td {
  display: flex;
  align-items: center;
  min-height: 53px;
}

.td {
  color: #1c307d;
  font-weight: bold;
}

.td--eligible-channel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 32px 0;

  .top,
  .bottom {
    display: flex;
    flex-wrap: wrap;

    .sample {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-right: 24px;
      margin-bottom: 4px;
    }
  }

  .top {
    gap: 8px;
  }

  .box {
    width: 33px;
    height: 28px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    color: #000000;
    cursor: pointer;
  }

  .sample-box {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }

  .selected-box {
    background-color: #22b7db;
    color: #ffffff;
  }

  .disabled-box {
    opacity: 0.5;
    filter: contrast(100%);
    cursor: default;
  }

  .synced-box {
    background-color: #f59d24;
  }
}

// Captive Portal
.user-authentication-right {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  .dropdown-button {
    margin-left: 16px;
  }

  .goto-splash-page-editor {
    flex-grow: 0;
    margin-left: 8px;
  }

  @media screen and (max-width: 1100px) {
    .dropdown-button {
      margin-left: 22px;
    }
  }
}

// Web content filter
.custom-filtering-block {
  padding-left: 22px;

  .input-block {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 8px;
    width: 100%;
  }
}

.category-block {
  display: grid;
  grid-template-columns: 42% 16% 42%;
  align-items: start;

  .selector {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .combined-block {
      border: 1px solid #cccccc;
      border-radius: 4px;
    }

    .dropdown-block--left,
    .dropdown-block--right {
      overflow: auto;
      padding: 4px;

      .dropdown-parent-item {
        position: relative;

        label {
          margin-left: 0px;
          text-wrap: nowrap;
          margin-bottom: 8px;
        }
      }

      .dropdown-child-item {
        label {
          margin-left: 22px;
          text-wrap: nowrap;
          margin-bottom: 8px;
        }
      }
    }

    .dropdown-block--left {
      height: 200px;
    }

    .dropdown-block--right {
      height: 230px;
    }
  }

  .operator {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px;
  }
}

.bulk-import-hint {
  color: #797979;
  font-size: 0.75rem;
}

.app-ctrl-text-block {
  width: 100px;
}
