# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.myvenv/
*venv*/

# Django static and media files
staticfiles/
media/

# Local environment variables
.env

# Django database files
*.sqlite3

# Logs
*.log
logs/

# Pytest cache
.pytest_cache/

# Migrations (optional)
**/migrations/*

# Ignore IDE-specific directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?