.cd-title {
    font-size: 14px;
    font-weight: 600;
    color: #1c307d;
}
.cd-content{
    margin-top: 20px;
}
.cd-subtitle{
    color: #1c307d;
    margin-right: 10px;
}
.cd-btn{
    margin-left: 10px;
}