.tab-container-border {
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  border-top-left-radius: 0px !important;
}

.subtitle {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #1c307d;
}