.wrapper {
  display: flex;
}

.left-box {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-right: 10px;
  width: 20%;
  min-width: 210px;
  min-height: 1200px;
}

.right-box {
  width: 80%;
  border: 1px solid #cccccc;
  overflow: auto;
  position: relative;
  padding: 50px;
}
