.mask {
  background-color: #fff;
  z-index: 500;
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.modal-text {
  font-size: 12px;
  color: #1c307d;
}

.modal-access-level-label {
  font-size: 12px;
  color: #8f8f8f;
}

@media screen and (max-width: 1300px) {
  .enable-btn-group {
    margin: 0 auto;
  }
}
